.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
/scripts/__pycache__/**/*
node_modules/
scripts/dist
ios/.build/index-build
hermes.config.json
ios/.build
